.webchat__floating-popover__button {
  align-self: flex-end;
  appearance: none;
  background-color: var(--button-color);
  border: 0;
  border-radius: 50%;
  height: 60px;
  padding: 0;
  position: relative;
  width: 60px;
}

.webchat__floating-popover__button:active {
  opacity: 0.7;
}

.webchat__floating-popover__button:hover {
  opacity: 0.8;
}

.webchat__floating-popover__button-icon {
  color: white;
  font-size: 32px;
}

.webchat__floating-popover__notification-dot {
  background-color: var(--notification-dot-color);
  border-radius: 50%;
  height: var(--notification-dot-size);
  position: absolute;
  right: 0;
  top: 0;
  width: var(--notification-dot-size);
}
