.webchat__floating-popover {
  bottom: var(--body-margin);
  display: flex;
  flex-direction: column-reverse;
  gap: var(--gap);
  position: fixed;
  right: var(--body-margin);

  --body-margin: 20px;
  --button-color: #0078d4;
  --button-size: 60px;
  --gap: 20px;
}
