@keyframes webchat__animation__spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.webchat-float__spinner-body {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.webchat-float__spinner-icon {
  animation-duration: var(--spinner-icon-duration);
  animation-iteration-count: infinite;
  animation-name: webchat__animation__spin;
  animation-timing-function: linear;
  font-size: var(--spinner-icon-size);
}
